{% extends 'panier.base.twig' %}

{% block body %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Navigation</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href=" {{ path('accueil') }}">Page d'accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href=" {{ path('produit_index') }}">Voir les produits</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('panier') }}">Mon panier</a>
                </li>
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item">
                        <a class="nav-link" href="">Espace administrateur</a>
                    </li>
                {% endif %}
                {% if is_granted('ROLE_AGENT') %}
                    <li class="nav-item">
                        <a class="nav-link" href="">Espace agent</a>
                    </li>
                {% endif %}
                {% if is_granted('ROLE_USER') %}
                    {% if app.user %}
                        <li class="nav-item">
                            <a class="nav-link" href="">Espace client</a>
                        </li>
                    {% endif %}
                {% endif %}
                {% if is_granted('ROLE_USER') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_logout') }}">Se déconnecter</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href=" {{ path('app_login') }}">Authentification</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            {% for produit in produits%}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <img src="https://via.placeholder.com/200x150" alt="" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">{{ produit.nomProduit }}</h5>
                            <p class="card-text">{{ produit.libelle }}</p>
                            <div class="d-flex justify-content-between align-item-center">
                                <a href="{{ path('panier_add', {id: produit.idproduit}) }}" class="btn btn-dark"><i class="bi bi-cart-plus"></i></a>
                                <a href="{{ path('produit_show', {'idproduit': produit.idproduit}) }}" class="btn btn-dark">Voir détails</a>
                                {#<a href="{{ path('produit_edit', {'idproduit': produit.idproduit}) }}" class="btn btn-dark">Modifier</a>#}
                                <span class="h5 mt-auto"> {{ produit.tarifProduit }}€</span>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    {#<a href="{{ path('produit_new') }}">Create new</a>
    <a href="{{ path('produit_edit', {'idproduit': produit.idproduit}) }}">edit</a>#}
{% endblock %}
